.card {
    box-shadow: rgba(154, 50, 50, 0.406) 0px 6px 24px 0px,
    rgba(218, 9, 9, 0.02) 0px 0px 0px 1px;
        
}

img {
    width: 100%;
}

.card-content {

    padding: 2rem 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem 0;
}

.super_hit {
    background-color: pink;

}

.average {
    background-color: brown;
}